<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <title>提醒</title>
    <style>
        .h-50 {
            height: 50px
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="h-50">
            <div class="alert alert-success" role="alert">
                <h1>:) <%= msg %></h1>
                <p><a href="<%= url %>">点击跳转</a></p>
            </div>
        </div>
    </div>
</body>
</html>